* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #680094;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    width: 400px;
    height: 500px;
    background-color: #9400d3;
    border-radius: 50px;
    box-shadow: 3px 3px 50px #010101;
    overflow: hidden;
}

.cadastrar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 30%;
}

.contatos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.foto {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 3px 3px 10px #010101;
}

.salvar {
    width: 60px;
    height: 60px;
    border-radius: 15px;
    box-shadow: 3px 3px 10px #010101;
}

input {
    background-color: #ba19ff;
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 235px;
    height: 40px;
    border-radius: 50px;
    margin: 5px 0px 5px 0px;
    box-shadow: 3px 3px 10px #010101;
}

.resultados{
    background-color: #de60ff;
    margin: 15px;
    width: 80%;
    height: 60px;
    border-radius: 13px;
    box-shadow: 5px 5px 5px #73098d,
                5px 5px 5px #4a025c,
                inset -8px -8px 15px #9502b9,
                inset 8px 8px 15px #7b0997;
    
}

/*
box-shadow: 25px 25px 25px #de60ff,
            10px 10px 10px #de60ff,
            inset -5px -5px 15px #de60ff,
            inset 5px 5px 15px #de60ff

*/
